body {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.3;
    color: #666666;
    min-width: 960px;
}

.container { width: 960px !important; }

.nopadding {
    padding-left: 0;
    padding-right: 0;
}

/* Sprite */
.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-underline-1 {
    display: inline-block;
    width: 155px;
    height: 11px;
    background-position: -2px -182px;
    margin-top: 15px;
}

.sprite-advantages-1 {
    width: 60px;
    height: 48px;
    background-position: -2px -2px;
    margin-right: 20px;
}

.sprite-advantages-2 {
    width: 60px;
    height: 45px;
    background-position: -66px -2px;
    margin-right: 20px;
}

.sprite-advantages-3 {
    width: 60px;
    height: 57px;
    background-position: -66px -51px;
    margin-right: 20px;
    margin-top: -5px;
}

.sprite-advantages-4 {
    width: 60px;
    height: 49px;
    background-position: -2px -112px;
    margin-right: 20px;
}

.sprite-advantages-5 {
    width: 60px;
    height: 60px;
    background-position: -66px -112px;
    margin-right: 20px;
    margin-top: -10px;
}

.sprite-advantages-6 {
    width: 53px;
    height: 67px;
    background-position: -130px -2px;
    margin-right: 20px;
    margin-top: -10px;
}

.sprite-advantages-arrow {
    width: 43px;
    height: 46px;
    background-position: -130px -73px;
    position: absolute;
    left: 105px;
}

.sprite-underline-2 {
    display: inline-block;
    width: 155px;
    height: 11px;
    background-position: -2px -182px;
    margin-top: 20px;
}

.sprite-underline-gray {
    display: inline-block;
    width: 155px;
    height: 11px;
    background-position: -2px -197px;
    margin-top: 10px;
}

.sprite-underline-3 {
    display: inline-block;
    width: 155px;
    height: 11px;
    background-position: -2px -182px;
}

.sprite-download-map {
    width: 31px;
    height: 31px;
    background-position: -2px -73px;
    margin-left: 100px;
    margin-right: 20px;
}

.sprite-download-map-red {
    width: 31px;
    height: 31px;
    background-position: -130px -123px;
    margin-left: 100px;
    margin-right: 20px;
    display: none;
}

.sprite-place-icon {
    width: 14px;
    height: 18px;
    background-position: -187px -2px;
    position: absolute;
    top: 10px;
    left: 52px;
}

.sprite-phone-icon {
    width: 18px;
    height: 18px;
    background-position: -154px -160px;
	position: absolute;
    top: 73px;
    left: 52px;
}

.sprite-mail-icon {
    width: 20px;
    height: 14px;
    background-position: -130px -160px;
	position: absolute;
    top: 130px;
    left: 52px;
}

.sprite-vk {
    width: 20px;
    height: 11px;
    background-position: -177px -92px;
}

.sprite-fb {
    width: 8px;
    height: 17px;
    background-position: -37px -73px;
}

.sprite-ok {
    width: 11px;
    height: 18px;
    background-position: -49px -73px;
}

.sprite-inst {
    width: 16px;
    height: 16px;
    background-position: -165px -140px;
}

.sprite-twitter {
    width: 19px;
    height: 15px;
    background-position: -177px -73px;
}

.sprite-google-plus {
    width: 21px;
    height: 13px;
    background-position: -165px -123px;
}
/* End sprite */

/* Header */
.logo-container { padding: 20px 0 28px 40px; }

.logo-container img { margin-right: 25px; }

.logo-container img:last-child {margin: 0}

.nav-container {
    padding-top: 25px;
    padding-bottom: 24px;
}

.nav-container a {
    font-size: 16px;
    color: #2c2c2c;
}

.nav-container a:hover {
    text-decoration: none;
    color: #cf262f;
}

.nav-container li {
    list-style-type: none;
    float: left;
    margin-right: 30px;
}

.nav-container li:nth-child(3){
    margin-right: 0;
    margin-left: 23px;
}

.nav-container li:nth-child(4) { margin-right: 29px; }

.nav-container li:nth-child(6) {
    margin-right: 0;
    margin-left: -2px;
}

.nav-indent { margin-bottom: 13px}

.call-container {
    font-size: 18px;
    color: #2c2c2c;
    letter-spacing: 0.08em;
    padding-top: 21px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.call-container>button {
    font-size: 14px;
    color: #2c2c2c;
    margin-top: 10px;
    padding: 7px 40px;
    border-radius: 20px;
    border-color: #4a4a4a;
}

.call-container>button:hover {
    background-color: #f54848;
    color: white;
    border-color: #f54848;
}
/* End header */

/* Main */
.bg-container {
    background: url("../img/bg-order.jpg");
    background-size: cover;
    height: 690px;
    padding-top: 175px;
}

.bg-container h2 {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 67px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.bg-container p {
    font-family: 'PT Serif', serif;
    font-size: 24px;
    color: white;
    letter-spacing: 0.02em;
    margin-top: 15px;
}

.bg-container button {
    font-size: 18px;
    color: white;
    border: 3px solid white;
    border-radius: 25px;
    background: transparent;
    padding: 12px 70px;
    margin-top: 70px;
}

.bg-container button:hover{
    font-size: 18px;
    background-color: #cf262f;
    color: white;
    border: 3px solid #cf262f;
}

.advantages-container>h2 {
    font-family: 'PT Serif', serif;
    font-size: 40px;
    color: #4a4a4a;
    margin-top: 45px;
}

.item-1 {
    padding-left: 80px;
    margin-top: 35px;
}

.item-2 {
    padding-left: 30px;
    margin-top: 35px;
}

.item-3 {
    padding-left: 80px;
    margin-top: 50px;
    padding-top: 5px;
}

.item-4 {
    padding-left: 30px;
    margin-top: 50px;
}

.item-5 {
    padding-left: 80px;
    margin-top: 50px;
    padding-top: 10px;
}

.item-6 {
    padding-left: 30px;
    margin-top: 50px;
    padding-top: 10px;
}

.advantages-text {
    font-style: italic;
    padding-left: 175px;
    margin-top: 45px;
    position: relative;
    margin-bottom: 60px;
}

.red-text { color: #f54848; }

.bg-programs {
    background-image: url("../img/bg-programs.jpg");
    background-size: cover;
    height: 1040px;
}

.bg-programs h2 {
    font-family: 'PT Serif', serif;
    font-size: 40px;
    color: white;
    margin-top: 50px;
}

.bg-programs h3 {
    position: relative;
    width: 590px;
    font-family: 'PT Serif', serif;
    font-size: 28px;
    color: white;
    margin: 30px auto 77px;
    padding-bottom: 77px;
    border-bottom: 2px dotted #4d68bd;
}

.bg-programs h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 55px;
    border-left: 2px dotted #4d68bd;

}

.url-container {
    padding-left: 60px;
    padding-right: 58px;
}


.url-container div:nth-child(1) {
    margin-right: 42px;
}

.url-container div:nth-child(2) {
    margin-right: 43px;
}

.item-url {
    display: inline-block;
    position: relative;
    margin-bottom: 48px;
}

.item-url::before {
    content: '';
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
    border-left: 2px dotted #4d68bd;
}

.text-url {
    width: 250px;
    height: 40px;
    color: white;
    background-color: rgba(30, 30, 30, 0.8);
    position: absolute;
    top: 78%;
    padding-top: 8px;
}

.hover-bg {
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background: rgba(30,30,30, 0.8);
    display: none;
}

.hover-header {
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    top: 30px;
    display: none;
    color: white;
}

.hover-text {
    position: absolute;
    left: 40px;
    bottom:0;
    right:0;
    top: 65px;
    display: none;
    font-size: 16px;
    color: white;
}

.item-url:hover .text-url { display: none; }

.item-url:hover .hover-bg { display: block; }

.item-url:hover .hover-header { display: block; }

.item-url:hover .hover-text { display: block; }

.url-container-1 { padding: 0 60px; }

.row .pd {
    padding-left: 62px;
    padding-right: 58px;
}

.advertising h2 {
    font-family: 'PT Serif', serif;
    font-size: 40px;
    color: #4a4a4a;
    margin-top: 50px;
}

.advertising h3 {
    font-family: 'PT Serif', serif;
    font-size: 28px;
    color: #4a4a4a;
    margin-top: 10px;
}

.advertising-radio {
    padding-left: 110px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.radio-item {
    display: inline-block;
    margin-right: 53px;
}

.radio-item div { margin-bottom: 15px; }

.radio-item a {
    font-size: 24px;
    color: #8e8e8e;
    padding-bottom: 10px;
}

.radio-item a:hover {
    font-size: 24px;
    color: #cf262f;
    text-decoration: none;
    border-bottom: 2px solid #cf262f;
}

.table-container .table-item-1 {
    width: 350px;
    margin-left: 105px;
}

.table-item-1 td {
    font-size: 14px;
    color: #444444;
    border: 2px dotted #e6e6e6;
    padding: 10px 0 10px 20px;
}

.table-container .table-header {
    font-size: 16px;
    color: #444444;
}

.table-container .table-item-2 {
    width: 360px;
    margin-bottom: 23px;
}

.table-item-2 td {
    font-size: 14px;
    color: #444444;
    border: 2px dotted #e6e6e6;
    padding: 10px 0 10px 20px;
}

.table-container p {
    font-size: 14px;
    margin-left: 20px;
}

.table-container button {
    width: 355px;
    height: 35px;
    font-size: 14px;
    color: white;
    background-color: #f54848;
    border-color: #f54848;
    border-radius: 20px;
    margin-top: 10px;
}

.table-container button:hover {
    color: white;
    background-color: #cf262f;
    border-color: #cf262f;

}

.table-container .table-item-3 {
    width: 740px;
    margin-left: 105px;
    margin-top: 30px;
}

.table-item-3 td {
    font-size: 14px;
    color: #444444;
    text-align: center;
    border: 2px dotted #e6e6e6;
    padding: 7px 0 7px 0;
}

.table-container div {
    font-size: 14px;
    color: #444444;
    margin-left: 120px;
    padding-top: 16px;
    padding-bottom: 30px;
}

.table-container .table-item-4 {
    width: 740px;
    margin-left: 105px;
    margin-bottom: 20px;
}

.table-item-4 td {
    font-size: 14px;
    color: #444444;
    border: 2px dotted #e6e6e6;
    padding: 10px 0 10px 15px;
    vertical-align: top;
}

.btn-indent {
    margin-left: 295px;
    margin-bottom: 65px;
}

.bg-map{
    background: url("../img/bg-map.jpg");
    background-size: cover;
    height: 970px;
}

.bg-map h2 {
    font-family: 'PT Serif', serif;
    font-size: 40px;
    color: white;
    margin-top: 50px;
    margin-bottom: 10px;
}

.bg-map h3 {
    font-family: 'PT Serif', serif;
    font-size: 28px;
    color: white;
    margin-top: 15px;
    margin-bottom: 55px;
}

.map img{ display: inline-block; }

.map-container { position: relative; }

.map { position: relative; }

.checkbox-container {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
}

.checkbox-container label{
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin-left: 100px;
}

.checkbox-container .checkbox-item { margin-bottom: 10px; }

.checkbox-container input[type="checkbox"] {
    display: none;
}

.checkbox-container input[type="checkbox"] + label {
    position: relative;
    padding-left: 50px;
    line-height: 30px;
    cursor: pointer;
}

.checkbox-container input[type="checkbox"] + label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #e4e4e4;
    border-radius: 2px;
}

.checkbox-container input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
}

.checkbox-container #on-1:checked + label::after {
    background-color: #2e03eb;
}

.checkbox-container #on-2:checked + label::after {
    background-color: #f54848;
}

.checkbox-container #on-3:checked + label::after {
    background-color: #3ba647;
}

.map .blue {
    display: none;
    position: absolute;
    top: 28px;
    left: 113px;
}

.map .red {
    display: none;
    position: absolute;
    top: 77px;
    left: 284px;
}

.map .green {
    display: none;
    position: absolute;
    top: 292px;
    left: 355px;
}

.checkbox-container a {
    font-size: 24px;
    color: white;
}

.checkbox-container a:hover {
    color: #cf262f;
    text-decoration: none;
}

.checkbox-item-url:hover .sprite-download-map-red {
    display: block;
}

.checkbox-item-url:hover .sprite-download-map {
    display: none;
}

.advertisers h2 {
    font-family: 'PT Serif', serif;
    font-size: 40px;
    color: #4a4a4a;
    margin-top: 60px;
    margin-bottom: 50px;
}

.adv-row-1 img:first-child {
    margin-left: 100px;
    margin-right: 53px;
}

.adv-row-1 img:nth-child(2) {
    margin-right: 60px;
}

.adv-row-1 img:nth-child(3) {
    margin-right: 55px;
}

.adv-row-1 {
    margin-bottom: 70px;
}

.adv-row-2 img:first-child {
    margin-left: 100px;
    margin-right: 90px;
}

.adv-row-2 img:nth-child(2) {
    margin-right: 120px;
}

.adv-row-2 img:nth-child(3) {
    margin-right: 85px;
}

.adv-row-2 { margin-bottom: 45px; }

.adv-row-3 img:first-child {
    margin-left: 100px;
    margin-right: 60px;
}

.adv-row-3 img:nth-child(2) {
    margin-right: 85px;
}

.adv-row-3 img:nth-child(3) {
    margin-right: 75px;
}

.adv-row-3 { margin-bottom: 65px; }
/* End main */

/* Footer */
.bg-footer {
    background-image: url("../img/bg-footer.jpg");
    background-size: cover;
    height: 650px;
}

.bg-footer h2 {
    font-family: 'PT Serif', serif;
    font-size: 40px;
    color: white;
    margin-top: 55px;
	margin-bottom: 30px;
}

.contacts { position: relative; }

.contacts p{
    font-size: 14px;
    color: white;
    padding-left: 85px;
	margin-bottom: 37px;
}

.contacts-input input {
	width: 615px;
	height: 40px;
	background: transparent;
	font-size: 14px;
	color: #dbdbdb;
	margin-bottom: 25px;
	border: 2px solid #dbdbdb;
	padding-left: 12px;
}

.contacts-input textarea {
    width: 615px;
    height: 210px;
    background: transparent;
    font-size: 14px;
    color: #dbdbdb;
    margin-bottom: 25px;
    border: 2px solid #dbdbdb;
    padding-left: 12px;
    padding-top: 10px;
    resize: none;
}

.contacts-input input:last-child {
	width: 210px;
	height: 40px;
	margin-right: 24px;
	border-radius: 20px;
	margin-bottom: 50px;
}

.contacts-input input:last-child:hover{
	background-color: #cf262f;
	border-color: #cf262f;
}

.bg-copyright {
    height: 72px;
    background-color: #1c1c1c;
    padding-bottom: 30px;
}

.copyright-l, .copyright-c p{
    font-size: 14px;
    color: #6d6d6d;
}

.copyright-l{
    padding-left: 55px;
    margin-top: 30px;
}

.copyright-c{
    padding-left: 110px;
    text-decoration: underline;
    margin-top: 30px;
}

.copyright-r {
    position: relative;
    font-size: 0;
    padding: 15px 0 15px 70px;
}

.copyright-r a {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    transition-duration: 300ms;
}

.copyright-r .sprite {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.copyright-r .vk:hover {
    background-color: #507299;
}

.copyright-r .fb:hover {
    background-color: #3b5998;
}

.copyright-r .ok:hover {
    background-color: #ee8208;
}

.copyright-r .inst:hover {
    background-color: #904ac6;
}

.copyright-r .twitter:hover {
    background-color: #41abe1;
}

.copyright-r .google-plus:hover {
    background-color: #dc493c;
}
/* End footer */