<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Клуб комплект - Главная</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header class="container">
        <div class="row">
            <div class="col-md-5 logo-container nopadding">
                <a href="#"><img src="img/logo.png" alt="Логотип"></a>
            </div>
            <div class="col-md-4 text-right back-call-container clearfix">
                <i class="sprite sprite-phone"></i> +38 (096) 292 37 49
                <a href="#">Заказать обратный звонок</a>
            </div>
            <div class="col-md-3 basket-container clearfix">
                <div class="basket-ico pull-left"><i class="sprite sprite-basket"></i></div>
                <table class="basket-data pull-left">
                    <tr><th colspan="2">Моя корзина</th></tr>
                    <tr>
                        <td class="text-right"><b>0</b> товаров</td>
                        <td class="text-left"><b>0</b> грн.</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#"><span class="sprite sprite-home"></span></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#">О НАС</a></li>
                            <li><a href="#">ОПЛАТА И ДОСТАВКА</a></li>
                            <li><a href="#">КОНТАКТ</a></li>
                            <li><a href="#">ПРАЙС</a></li>
                            <li><a href="#">БЛОГ</a></li>
                            <li><a href="#">АКЦИИ</a></li>
                            <li><a href="#">ДИСКОНТ</a></li>
                        </ul>
                        <form class="navbar-form navbar-left clearfix">
                            <button type="submit" class="btn pull-left">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                            <div class="form-group pull-right">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </header>

    <main class="container">
        <div class="row">
            <div class="col-md-6 banner1 nopadding">
                <img src="img/banner1.jpg" class="img-responsive" alt="Свет для дискотек">
                <span class="promo">свет для<br> дискотек</span>
            </div>
            <div class="col-md-6 banner2 nopadding">
                <img src="img/banner2.jpg" class="img-responsive" alt="DJ - оборудование">
                <span class="promo">DJ - оборудование</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 nopadding headline">
                <h2>Наши преимущества</h2>
            </div>
            <div class="col-md-4 text-center nopadding">
                <div class="advantages-icon-container">
                    <div>
                        <div class="advantages-icon"><i class="sprite sprite-delivery "></i></div>
                    </div>
                </div>
                <p class="advantages-headline">
                Бесплатная<br>
                доставка
                </p>
            </div>
            <div class="col-md-4 text-center nopadding">
                <div class="advantages-icon-container">
                    <div>
                        <div class="advantages-icon"><i class="sprite sprite-guarantee"></i></div>
                    </div>
                </div>
                <p class="advantages-headline">
                Гарантия<br>
                на всю технику
                </p>
            </div>
            <div class="col-md-4 text-center nopadding">
                <div class="advantages-icon-container">
                    <div>
                        <div class="advantages-icon"><i class="sprite sprite-shopping"></i></div>
                    </div>
                </div>
                <p class="advantages-headline">
                Возврат<br>
                в течение 14 дней
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 banner3 nopadding">
                <img src="img/banner3.jpg" class="img-responsive" alt="Микрофон">
                <span class="promo">
                    <div class="sprite sprite-microphone pull-left"></div>
                    <p>Зарегистрируйся<br> в розыгрыше микрофона</p>
                    <input type="text" value="Ваш e-mail" class="text-field">
                    <input type="submit" value="отправить" class="orange-button">
                </span>
            </div>
            <div class="col-md-6 banner4 nopadding">
                <img src="img/banner4.jpg" class="img-responsive" alt="Караоке - системы">
                <span class="promo">Караоке - системы</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 nopadding banners">
                <img src="img/banner5.jpg" class="banner-item img-responsive" alt="Диджейский пульт">
                <img src="img/banner6.jpg" class="banner-item img-responsive" alt="Микрофон">
                <img src="img/banner7.jpg" class="banner-item img-responsive" alt="Регулировка звука">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 nopadding headline">
                <h2>Лидеры продаж</h2>
            </div>
            <div class="col-md-12 text-center products nopadding">
                <div class="product-item pull-left">
                    <a href="#">
                        <span>City Light CS-B230</span>
                        <div class="product-block">
                            <img class="img-responsive" src="img/sales-leader1.jpg" alt="Товар">
                        </div>
                    </a>
                    <div class="price">
                        <div class="product-code">Код товара : 101050</div>
                        <div class="price-content">Цена: <span>28035 грн.</span></div>
                        <button type="button">Купить</button>
                    </div>
                </div>
                <div class="product-item">
                    <a href="#">
                        <span>City Light CS-B230</span>
                        <div class="product-block">
                            <img class="img-responsive" src="img/sales-leader2.jpg" alt="Товар">
                        </div>
                    </a>
                    <div class="price">
                        <div class="product-code">Код товара : 101050</div>
                        <div class="price-content">Цена: <span>28035 грн.</span></div>
                        <button type="button">Купить</button>
                    </div>
                </div>
                <div class="product-item">
                    <a href="#">
                        <span>City Light CS-B230</span>
                        <div class="product-block">
                            <img class="img-responsive" src="img/sales-leader3.jpg" alt="Товар">
                        </div>
                    </a>
                    <div class="price">
                        <div class="product-code">Код товара : 101050</div>
                        <div class="price-content">Цена: <span>28035 грн.</span></div>
                        <button type="button">Купить</button>
                    </div>
                </div>
                <div class="product-item pull-right">
                    <a href="#">
                        <span>City Light CS-B230</span>
                        <div class="product-block">
                            <img class="img-responsive" src="img/sales-leader4.jpg" alt="Товар">
                        </div>
                    </a>
                    <div class="price">
                        <div class="product-code">Код товара : 101050</div>
                        <div class="price-content">Цена: <span>28035 грн.</span></div>
                        <button type="button">Купить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 nopadding banners-url">
                <div class="banner-url-item">
                    <a href="#">
                        <img src="img/banner8.jpg" class="img-responsive" alt="Концерт">
                        <div class="hover-background"></div>
                        <div class="hover-border"></div>
                        <div class="hover-text">Какой-то текст</div>
                    </a>
                </div>
                <div class="banner-url-item">
                    <a href="#">
                        <img src="img/banner9.jpg" class="banner-url-item img-responsive" alt="Пульт">
                        <div class="hover-background"></div>
                        <div class="hover-border"></div>
                        <div class="hover-text">Какой-то текст</div>
                    </a>
                </div>
                <div class="banner-url-item pull-right">
                    <a href="#">
                        <img src="img/banner10.jpg" class="banner-url-item img-responsive" alt="Колонка">
                        <div class="hover-background"></div>
                        <div class="hover-border"></div>
                        <div class="hover-text">Какой-то текст</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 nopadding">
                <div class="blue-line">
                    <span class="blue-title">Интернет магазин</span>
                    <span class="blue-url">clubcom.com.ua</span>
                    <button type="button" class="btn btn-blue1">
                        <i class="sprite sprite-goods"></i>
                        Товары
                    </button>
                    <button type="button" class="btn btn-blue2">
                        <i class="sprite sprite-services"></i>
                        Услуги
                    </button>
                </div>
            </div>
        </div>
    </main>

    <footer class="container">
        <div class="row">
            <div class="col-md-7 nopadding">
                <div class="footer-bg1">
                    <a href="#"><img src="img/logo.png" alt="Логотип"></a>
                    <div class="footer-phone pull-right clearfix">
                        <i class="sprite sprite-phone"></i> +38 (096) 292 37 49<br>
                        <a href="#">Заказать обратный звонок</a>
                    </div>
                    <div class="footer-mail">
                        <i class="sprite sprite-e-mail"></i> E-mail
                    </div>
                    <div class="footer-gps">
                        <i class="sprite sprite-gps"></i> Адрес
                    </div>
                    <div class="footer-tagline">От задачи до ее решения один звонок</div>
                </div>
            </div>
            <div class="col-md-5 nopadding">
                <div class="footer-bg2">
                    <ul class="footer-nav">
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Оплата</a></li>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Акции</a></li>
                    </ul>
                    <div class="footer-social">
                        Мы в соцсетях:<br>
                        <a class="social-btn social-btn-fb" href="#"><i class="icon-facebook"></i></a>
                        <a class="social-btn social-btn-tw" href="#"><i class="icon-twitter-bird"></i></a>
                        <a class="social-btn social-btn-yt" href="#"><i class="icon-youtube"></i></a>
                        <a class="social-btn social-btn-gl" href="#"><i class="icon-gplus"></i></a>
                        <a class="social-btn social-btn-plus" href="#"><i class="icon-plus"></i></a>
                        <a class="social-btn social-btn-pt" href="#"><i class="icon-pinterest"></i></a>
                        <a class="social-btn social-btn-inst" href="#"><i class="icon-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 nopadding copyright-bg">
                <div class="text-center footer-copyright">Copyright © 2016</div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js\bootstrap.min.js"></script>
</body>
</html>
